# homeassistant -- [Home Asistant](https://home-assistant.io)
# @default -- [example](./examples/homeassistant.yaml)
homeassistant:
  # homeassistant.enabled -- Enable Home Assistant
  enabled: false
  name: homeassistant
  destination:
    # homeassistant.destination.namespace -- Namespace
    namespace: "ha-apps"
  # homeassistant.repoURL -- Repo URL
  # @default -- [repo](https://github.com/k8s-at-home/charts)
  repoURL: "https://k8s-at-home.com/charts"
  # homeassistant.chart -- Chart
  chart: "homeassistant"
  # homeassistant.targetRevision -- [Home Assistant Helm chart](https://github.com/k8s-at-home/charts/tree/master/charts/stable/home-assistant)
  targetRevision: "10.1.*"
  # homeassistant.values -- Helm values
  # @default -- [upstream values](https://github.com/k8s-at-home/charts/blob/master/charts/stable/home-assistant/values.yaml)
  values: {}

# mosquitto -- [Mosquitto](https://mosquitto.org/)
# @default -- [example](./examples/mosquitto.yaml)
mosquitto:
  # mosquitto.enabled -- Enable Mosquitto
  enabled: false
  name: mosquitto
  destination:
    # mosquitto.destination.namespace -- Namespace
    namespace: "ha-apps"
  # mosquitto.repoURL -- Repo URL
  # @default -- [repo](https://github.com/k8s-at-home/charts)
  repoURL: "https://k8s-at-home.com/charts"
  # mosquitto.chart -- Chart
  chart: "mosquitto"
  # mosquitto.targetRevision -- [mosquitto Helm chart](https://github.com/k8s-at-home/charts/tree/master/charts/stable/mosquitto)
  targetRevision: "2.2.*"
  # mosquitto.values -- Helm values
  # @default -- [upstream values](https://github.com/k8s-at-home/charts/blob/master/charts/stable/mosquitto/values.yaml)
  values: {}
