# nfsMount -- This is used to create a PVC for a media share via NFS
nfsMount:
  # nfsMount.enabled -- Enable nfsMount
  enabled: false
  name: "nas-media"
  destination:
    # nfsMount.destination.namespace -- Namespace
    namespace: "media-apps"
  # nfsMount.repoURL -- Repo URL
  # @default -- [repo](https://git.reeb.io/pree/helm-charts)
  repoURL: "https://charts.pree.dev"
  # nfsMount.chart -- Chart
  chart: "nfs-mount"
  # nfsMount.targetRevision -- [nfsMount Helm chart](https://git.reeb.io/pree/helm-charts/src/branch/master/charts/nfs-mount)
  targetRevision: "0.1.10"
  # nfsMount.values -- Helm values
  # @default -- [upstream values](https://git.reeb.io/pree/helm-charts/src/branch/master/charts/nfs-mount/values.yaml)
  values: {}

# sonarr -- [Sonarr](https://sonarr.tv/)
# @default -- [example](./examples/sonarr.yaml)
sonarr:
  # sonarr.enabled -- Enable Sonarr
  enabled: false
  name: sonarr
  destination:
    # sonarr.destination.namespace -- Namespace
    namespace: "media-apps"
  # sonarr.repoURL -- Repo URL
  # @default -- [repo](https://github.com/pree/helm-charts)
  repoURL: "https://charts.pree.dev"
  # sonarr.chart -- Chart
  chart: "sonarr"
  # sonarr.targetRevision -- [sonarr Helm chart](https://github.com/pree/helm-charts/tree/master/charts/sonarr)
  targetRevision: "1.1.9"
  # sonarr.values -- Helm values
  # @default -- [upstream values](https://github.com/pree/helm-charts/blob/master/charts/sonarr/values.yaml)
  values: {}

# radarr -- [Radarr](https://radarr.video/)
# @default -- [example](./examples/radarr.yaml)
radarr:
  # radarr.enabled -- Enable Radarr
  enabled: false
  name: radarr
  destination:
    # radarr.destination.namespace -- Namespace
    namespace: "media-apps"
  # radarr.repoURL -- Repo URL
  # @default -- [repo](https://github.com/pree/helm-charts)
  repoURL: "https://charts.pree.dev"
  # radarr.chart -- Chart
  chart: "radarr"
  # radarr.targetRevision -- [radarr Helm chart](https://github.com/pree/helm-charts/tree/master/charts/radarr)
  targetRevision: "1.2.3"
  # radarr.values -- Helm values
  # @default -- [upstream values](https://github.com/pree/helm-charts/blob/master/charts/radarr/values.yaml)
  values: {}

# prowlarr -- [Prowlarr](https://github.com/Prowlarr/Prowlarr)
# @default -- [example](./examples/prowlarr.yaml)
prowlarr:
  # prowlarr.enabled -- Enable Prowlarr
  enabled: false
  name: prowlarr
  destination:
    # prowlarr.destination.namespace -- Namespace
    namespace: "media-apps"
  # prowlarr.repoURL -- Repo URL
  # @default -- [repo](https://github.com/pree/helm-charts)
  repoURL: "https://charts.pree.dev"
  # prowlarr.chart -- Chart
  chart: "prowlarr"
  # prowlarr.targetRevision -- [prowlarr Helm chart](https://github.com/pree/helm-charts/tree/master/charts/prowlarr)
  targetRevision: "1.11.0"
  # prowlarr.values -- Helm values
  # @default -- [upstream values](https://github.com/pree/charts/blob/master/charts/prowlarr/values.yaml)
  values: {}
